* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a{
  text-decoration: none;
  color: #333;
}
ul{
  list-style: none;
}

img{
  max-width: 100%;
}

:root{
  --primary-color:#fcf5e9;
  --dark-color:#333;
  --container-normal:1100px;
  --container-wide:1400px;
  --container-narrow:900px
}
/* Utility classes */
.bg-primary{
  background: var(--primary-color);
  color: var(--dark-color);
}

.bg-dark{
  background-color: var(--dark-color);
  color: #fff;
}

.bg-dark .bg-primary{
  padding: 0, 0,4rem;
}

.section-heading{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;
}
.btn{
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #333;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}

.visually-hidden{
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
/* container */
.container{
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-lg{
  max-width: var(--container-wide);
}
.container-sm{
  max-width: var(--container-narrow);
}

/* Header */
.header{
  margin: 1.5rem auto;
}

.header .logo{
  width: 130px;
}

.header .header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav .main-menu{
  display: flex;
  gap: 1rem;
}
.header nav .main-menu a{
 padding: 0.5rem 1rem;
}
.header nav .main-menu a:hover{
 background: var(--primary-color);
}

.current{
  background:var(--primary-color);
  font-weight: 600;
}

/* Hero */
.hero{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
  }
}

/* gallery */
.gallery-flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item{
  width: calc(33.33% - 20px);
  border-radius: 10px;

  img{
    border-radius: 10px;
  }
  img:hover{
    opacity: 0.9;
  }
}

/* Footer */

.footer{
  border: 1px solid #aaa;
  padding: 2rem 1.5rem;
  margin-top: 2rem;

  .footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    img{
      width: 120px;
      height: 35px;
    }
    h4{
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    a{
      margin: 0.2rem;
    }
  }

}
/* Services */
.services{
  padding: 3rem 0 4rem;
}
.services-flex{
  display: flex;
  gap: 2rem;
}
.service-item h4{
  font-size: 1.1rem;
  margin-bottom: 10px;
}
/* Team */
.team{
  padding: 3rem 0 4rem;
}
.team-flex{
  display: flex;
  gap: 1.4rem;

  img{
    border-radius: 12px;
  }
}
.team-item h4,p{
   text-align: center;
}
/* Contact */
.contact{
  padding: 3rem 0 4rem;

  p{
    text-align: center;
    margin-bottom: 2rem;
  }
  input, textarea{
    border: none;
    border-bottom: 1px #333 solid;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 1rem;
  }
  textarea{
    height: 180px;
  }
  input:focus,textarea:focus{
    outline: 0;
  }
  button{
    width: 100%;
    border-radius: 10px;
  }
}

.form-group{
  margin: 2rem 0;
}
/* Medial query */
@media(max-width:768px){
  .header .header-flex, .footer .footer-flex, .services .services-flex, .team .team-flex{
  flex-direction: column;
  gap: 1.5rem;
  }
  .hero{
    height: 300px;
    h2{
      font-size: 1.8rem;
    }
  }
  .gallery-item{
    width: calc(50% - 20px);
  }

  .footer .footer-flex{
    text-align: center;
  }
}